{% extends 'base.html' %}
{% block content %}
<div style="padding:1em;">
    <div class="page-header">
        <h1>画像の判別サイトお試し！　
            <p><small>'飛行機', '自動車', '鳥', '猫', '鹿', '犬', '蛙', '馬', '船', 'トラック'の判別するよ</small></p></h1>
    </div>
    

    <form method="POST" action="{% url 'index' %}" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class='form-group'>
            <!--form.as_pは「formの内容をpタグで囲って表示」-->
            <div class='col-sm-4'>{{form.as_p}}</div>
            <div class='col-sm-8'><button type="submit" class="btn btn-primary">分類する</button></div>
        </div>
    </form>
    
    <p class="message">判定結果</p>
    <ul>
        {% if result_name != "" %}
            <li>{{ result_name }}</li>
        {% else %}
            <li>画像なし</li>
        {% endif %}
    </ul>
    

    <p class="message">判定画像</p>
        {% if result_img == "" %}
            <li>判定結果なし</li>
            <!--<img src="/static/img/test.png"/>-->
        {% else %}
            <li>判定結果あり(入力した画像)</li>
            <!--<img src="/static/img/dest2.jpg"/>-->       
        {% endif %}


    <!--
    <p class="message">判定結果</p>
    <ol>
        {% if result_list %}
            {% for result in result_list %}
                <li>{{ result }}</li>
            {% endfor %}
        {% else %}
            <li>結果なし</li>
        {% endif %}
    </ol>
    -->
<!--
    <div class="image">
        <img src="/static/img/test.png"/>
    </div>
-->
</div>
{% endblock %}




